html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

img {
    max-width: 100%;

}

.Upshift-Accordion summary {
    list-style: none;
    position: relative;
    padding-right: 30px;
}

.Upshift-Accordion summary::after {
    content: ' \002B';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: var(--wp--preset--font-size--x-meadium);
}

.Upshift-Accordion details[open] summary::after {
    content: ' \002D';
}

.category {
    width: fit-content;
    border-radius: 8px;
}

.category a {
    text-decoration: none;
}

.category a:hover {
    text-decoration: none;
    color: var(--wp--preset--color--black);
}

.btn-2 a:hover {
    background-color: var(--wp--preset--color--white);
    color: var(--wp--preset--color--black);
}

@media(max-width:1140px) {

    .nav-menu,
    .nav-btn {
        display: none !important;
    }

}

@media(min-width:1140px) {
    .mob-menu {
        display: none;
    }
}

@media(max-width:992px) {
    .mob-hidden {
        display: none;
    }
}

@media(max-width:768px) {
    .footer-menu {
        display: none;
    }
}
