<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:pattern {"slug":"upshift/hero-banner"} /-->
<!-- wp:pattern {"slug":"logos"} /-->
<!-- wp:pattern {"slug":"features-three-columns-button"} /-->
<!-- wp:pattern {"slug":"upshift/features-two-columns-right"} /-->
<!-- wp:pattern {"slug":"upshift/testimonials"} /-->
<!-- wp:pattern {"slug":"upshift/blog"} /-->
<!-- wp:pattern {"slug":"upshift/add"} /-->
<!-- wp:pattern {"slug":"upshift/accordion"} /-->
<!-- wp:template-part {"slug":"footer"} /-->