<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:pattern {"slug":"nexara/hero-banner"} /-->
<!-- wp:pattern {"slug":"nexara/logos"} /-->
<!-- wp:pattern {"slug":"nexara/features-three-columns-button"} /-->
<!-- wp:pattern {"slug":"nexara/features-two-columns-right"} /-->
<!-- wp:pattern {"slug":"nexara/testimonials"} /-->
<!-- wp:pattern {"slug":"nexara/blog"} /-->
<!-- wp:pattern {"slug":"nexara/add"} /-->
<!-- wp:pattern {"slug":"nexara/accordion"} /-->
<!-- wp:template-part {"slug":"footer"} /-->